.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    display: grid;
    align-items: center;
    grid-area: cabecalho;
    padding: 0 2rem;
}
 
.conteudo {
    grid-area: conteudo;
    padding: 0 2rem; 
}

.rodape {
    background: #fdfdfd;
    color: #333;
    font-size:.8rem;
    grid-area: rodape;
    padding: 1rem;
    text-align: center;
}

#scrollUp {
    position: fixed;
    z-index: 2147483647;
    bottom: 0;
    right: 30px;
    width: 50px;
    height: 45px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #fff;
    border-radius: 5px 5px 0 0;
    background-color: #687077;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}